- title "District #{@calendar.id} meetings"
%h1 District #{@calendar.id} meetings
%hr

%dl.dl-horizontal
  - @events.each do |event|
    %dt
      %h4
        = event.start_date_formatted
        %br
        = event.start_time
    %dd
      %h4
        %a{:href => "/district/#{@calendar.id}/event/#{event.slug}"}
          = event.name
    %dd= event.details
    - unless event.location.nil?
      %dd
        %strong Location:
        = event.location_details
        = event.address
    - unless event.contact_details == '' or event.contact_details.nil?
      %dd
        %strong Contact:
        = event.contact_details
    %dd &nbsp;

- if @events.length == 0
  %p.lead There are no upcoming events scheduled in this District.