%h1 District #{@calendar.id} CAPS meetings
%hr

%dl.dl-horizontal
  - @events.each do |event|
    %dt
      %h4
        = event.start_date_formatted
    %dd
      %h4
        %a{:href => "/calendar/#{@calendar.id}/#{event.id}"}
          = event.name
    %dd= event.details
    - unless event.location.nil?
      %dd
        %strong Location:
        = event.location
    - unless event.contact_details == ''
      %dd
        %strong Contact:
        = event.contact_details
