.row-fluid
  .span8
    %p.lead 
      Find when and where your next CAPS meeting is. 
      %strong Then go to it.

.row-fluid
  .span8

    .well
      %h3 Find your next CAPS meeting

      .form-horizontal#home-search
        %input.input-xlarge.span8#address{:type => "text", :placeholder => "Where do you live?"}
        %a.btn.btn-primary.btn-large#search{ :href => '#'} Search

    %h3 About
    %p 
      Chicago Alternative Policing Strategy Meetings, or <a href='https://portal.chicagopolice.org/portal/page/portal/ClearPath/Get%20Involved/How%20CAPS%20works/Beat%20Meetings'>CAPS Meetings</a>, are recurring events with the Chicago Police Department and Chicago residents. 
    %p 
      The goal of CAPS is to blend traditional policing strategies with alternative strategies aimed at encouraging community members and police to work together to reduce the occurrence of crimes.

    %p
      This site lets you find out <strong>when</strong> and <strong>where</strong> your next meeting is, in an effort to increase the level of citizen participation.
      %a(href='/about') Read more &raquo;

  .span4.hidden-phone
    .well
      %h3 
        Upcoming
        %small
          %a{:href => '/browse'} Browse all &raquo;
      %dl
        - @events.each do |event|            
          %dd
            %h4
              %a{:href => "/district/#{event.calendar_id}/event/#{event.id}"}
                = event.name
          %dd
            = event.start_time
            = event.start_date_formatted_simple
          %dd 
            %a{:href => "/district/#{event.calendar_id}"}
              District #{event.calendar_id}

      %p
        

- content_for :javascripts do

  :javascript
    $('#search').click(function(){
      MapsLibCapsure.getBeatAndDistrict();
    });

    $("#address").keydown(function(e){
        var key =  e.keyCode ? e.keyCode : e.which;
        if(key == 13) {
            $('#search').click();
            return false;
        }
    });