- title @event.name

.row.fluid
  .span8
    %h1 
      #{@event.name}
      %small 
        %br
        %a{:href => "/district/#{@calendar.id}"}
          District #{@calendar.id}
    %hr

    %h3
      = @event.start_date_formatted_full
      %br
      = @event.start_time
      = @event.end_time

    %p.lead 
      = @event.details

    - unless @event.contact_details == '' or @event.contact_details.nil?
      %h4
        %i.icon-user 
        Contact
      = raw (@event.contact_details.gsub /\n/, '<br />')

  .span4
    .well
      #mapDetail
      %p
        - unless @event.location_details == ''
          = @event.location_details
          %br
        = @event.address
      %p
        %a.btn.btn-success{:href => @event.directions_link} Get directions

    .well
      %h4 Add to my calendar
      %ul.unstyled
        %li
          %a{ :href => "#{@event.id}/ical.ics" } 
            %i.icon-calendar
            Outlook calendar
        %li
          %a{ :href => "#{@event.id}/ical.ics" }
            %i.icon-calendar 
            iCal calendar
        %li
          %a{ :href => "http://www.google.com/calendar/event?action=TEMPLATE&text=#{u @event.name}&dates=#{@event.start_date_cal}/#{@event.end_date_cal}&details=#{@event.details}&location=#{@event.address}&trp=false&sprop=Capsure&sprop=name:http://capsure.opencityapps.org" } 
            %i.icon-calendar
            Google calendar

- content_for :javascripts do
  :javascript 
    $(function(){
      MapsLibCapsure.initializeDetailMap();
    
      if (MapsLibCapsure.map != null)
        MapsLibCapsure.displayPoint("#{@event.address}");
    });