.row.fluid
  .span12
    %h1 
      #{@event.name}
      %small 
        %br
        %a{:href => "/calendar/#{@calendar.id}"}
          District #{@calendar.id} CAPS meeting
    %hr

.row.fluid
  .span8
    %h3
      = @event.start_date_formatted

    %p.lead 
      = @event.details

    %h4 Contact
    = @event.contact_details

  .span4
    .well
      %h4 Location
      = @event.location

    .well
      %h4 Add to my calendar
      %a{ :href => "#{@event.id}/ical.ics" } iCal Calendar
